ChatterBot==0.6.0
chatterbot-corpus==0.0.1
Django==1.11
future==0.16.0
gunicorn==19.7.1
jsondatabase==0.1.7
nltk==3.2.2
oauthlib==2.0.2
olefile==0.44
Pillow==4.1.0
pymongo==3.4.0
python-twitter==3.2.1
pytz==2017.2
requests==2.13.0
requests-oauthlib==0.8.0
six==1.10.0
wheel==0.24.0
